@{
    ViewBag.Title = "Aryuwat";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/cssHome")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/coreui/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/coreui/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var Base64 = { _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) { var t = ""; var n, r, i, s, o, u, a; var f = 0; e = Base64._utf8_encode(e); while (f < e.length) { n = e.charCodeAt(f++); r = e.charCodeAt(f++); i = e.charCodeAt(f++); s = n >> 2; o = (n & 3) << 4 | r >> 4; u = (r & 15) << 2 | i >> 6; a = i & 63; if (isNaN(r)) { u = a = 64 } else if (isNaN(i)) { a = 64 } t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a) } return t }, decode: function (e) { var t = ""; var n, r, i; var s, o, u, a; var f = 0; e = e.replace(/\\+\\+[++^A-Za-z0-9+/=]/g, ""); while (f < e.length) { s = this._keyStr.indexOf(e.charAt(f++)); o = this._keyStr.indexOf(e.charAt(f++)); u = this._keyStr.indexOf(e.charAt(f++)); a = this._keyStr.indexOf(e.charAt(f++)); n = s << 2 | o >> 4; r = (o & 15) << 4 | u >> 2; i = (u & 3) << 6 | a; t = t + String.fromCharCode(n); if (u != 64) { t = t + String.fromCharCode(r) } if (a != 64) { t = t + String.fromCharCode(i) } } t = Base64._utf8_decode(t); return t }, _utf8_encode: function (e) { e = e.replace(/\r\n/g, "\n"); var t = ""; for (var n = 0; n < e.length; n++) { var r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r) } else if (r > 127 && r < 2048) { t += String.fromCharCode(r >> 6 | 192); t += String.fromCharCode(r & 63 | 128) } else { t += String.fromCharCode(r >> 12 | 224); t += String.fromCharCode(r >> 6 & 63 | 128); t += String.fromCharCode(r & 63 | 128) } } return t }, _utf8_decode: function (e) { var t = ""; var n = 0; var r = c1 = c2 = 0; while (n < e.length) { r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r); n++ } else if (r > 191 && r < 224) { c2 = e.charCodeAt(n + 1); t += String.fromCharCode((r & 31) << 6 | c2 & 63); n += 2 } else { c2 = e.charCodeAt(n + 1); c3 = e.charCodeAt(n + 2); t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63); n += 3 } } return t } }

        // Define the string
        var string = 'Hello World!';

        // Encode the String
        var encodedString = Base64.encode(string);

        var decodedString = Base64.decode('@HttpContext.Current.Request.Cookies["OPD"]["Username"]');
    </script>
</head>
<body style="font-size: 20px;font-family: 'Kanit', sans-serif;" class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden hm-sidebar-fixed">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 60px,0,60px,0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <div class="row">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" style="padding-left:50px; padding-right: 50px">
                                <a class="nav-link" href="@Url.Content("~/Home/Index")" style="font-size:30px;font-weight:600">Aryuwat <span class="sr-only">(current)</span></a>
                            </li>

                            <form class="form-inline my-2 my-lg-0" style=" padding-right: 70px">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="font-size:15px;border-radius: 20px;background-color:rgba(198, 194, 194, 0.50);padding-right: 120px">
                            </form>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                @*<a class="nav-link" disable>@HttpContext.Current.Request.Cookies["OPD"]["Username"]</a>*@
                                <a class="nav-link" disable><script>document.write(decodedString)</script></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Content("~/Signin/Index")">Logout</a>
                            </li>
                            @*<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Content("~/Signin/Index")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sign out
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>*@
                            @*<li class="nav-item">
                                    <i class="fa fa-seach"></i>
                                </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="app-body hm-app-body">
            <main class="main hm-main">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>