@using AryuwatWebApplication.Models
@{
    ViewBag.Title = "Attach File Patient";
}
<div id="app" class="container-fluid">
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color:#ffe480">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <div class="row">
                            <div class="col-lg-1" style="padding-top: 9px;">
                                <a v-on:click="BackCustomer()" style="color:black;font-size:30px;"><i class="fa fa-angle-double-left"></i></a>
                            </div>
                            <div class="col-lg-6">
                                <h1 class="page-header-title">
                                    {{tmpCustomer.Patient_Name}}
                                </h1>
                            </div>
                            <div class="col-lg-5">
                                <h1 class="page-header-title">
                                    {{'Room : ' + (tmpCustomer.Room == null ? '-' : tmpCustomer.Room)}}
                                </h1>
                            </div>
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-11">
                                <div class="page-header-subtitle">CN : {{tmpCustomer.CN}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container mt-n10">
        <div class="card mb-4">
            <div class="card-header">Patient File</div>
            <div class="card-body">
                <div class="datatable">
                    <table class="table table-bordered table-hover" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-right align-middle" colspan="6">
                                    {{AttachFileName}}
                                    <button class="btn btn-indigo btn-sm" v-on:click="callfile()" v-if="AttachFileName == ''"><i class="fa fa-upload"></i>&nbsp; Upload file</button>
                                    <input id="FormulaAttachFile"
                                           accept=".gif, .jpg, .png"
                                           type="file"
                                           ref="ApplicantRegister"
                                           style="display:none"
                                           v-on:change="onFileFormulaChange($event)">
                                    <button class="btn btn-success btn-sm" v-on:click="uploadfile()" v-if="AttachFileName != ''">&nbsp; Upload or Select</button>
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th class="text-center align-middle" style="padding-left:50px;" colspan="2">Name</th>
                                <th class="text-center align-middle" style="">Detail</th>
                                <th class="text-center align-middle" style="">Last Modified</th>
                                <th class="text-center align-middle" style="">Preview</th>
                                <th class="text-center align-middle" style="" v-if="@HttpContext.Current.Request.Cookies["OPD"]["UserGroup"] != 3">Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr :key="index" v-for="(items, index) in Attachfile" v-if="Attachfile.length > 0" class="rowHover">
                                <td class="text-left align-middle" style="padding-left:50px;" colspan="2">
                                    <p>
                                        <i class="fa fa-image"></i>
                                        {{items.FileName}}
                                    </p>
                                </td>
                                <td class="text-center align-middle" style="">
                                    {{items.Detail}}
                                </td>
                                <td class="text-center align-middle" style="">
                                    {{parseJsonDate(items.DateSave)}}
                                </td>
                                <td class="text-center align-middle" style="">
                                    <button class="btn btn-datatable btn-icon btn-transparent mr-2" v-on:click="popupImage(items.FileName)" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></button>
                                </td>
                                <td class="text-center align-middle" style="" v-if="@HttpContext.Current.Request.Cookies["OPD"]["UserGroup"] != 3">
                                    <button class="btn btn-datatable btn-icon btn-transparent mr-2" v-on:click="deleteImage(items.Id)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr v-if="Attachfile.length == 0">
                                <td class="text-left" colspan="6">
                                    No data available in table
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px;">
            <div class="modal-content">
                <div class="modal-body">
                    <img :src=fileURL style="max-width:100%" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="fade"
         :class="{'modal-backdrop show' : showload}"
         :style="{'cursor' : (showload ? 'wait': ''),'z-index' : (showload ? '9999': '')}">
        <div v-if="showload" style="color:white;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)">
            <i class="fa fa-plus fa-spin fa-3x fa-fw"></i><br />
            <span>Loading...</span>
        </div>
    </div>
</div>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/moment.js"></script>
<script>

    Vue.prototype.$http = axios;
    const app = new Vue({
        el: "#app",
        data: {
            tmpCustomer : @Html.Raw(Json.Encode(@Model)),
            Attachfile: [],
            fileURL: '',
            File: "",
            AttachFileName: "",
            showload: false,
        },
        mounted: function () {
            var that = this;
            if (that.tmpCustomer.CN == null) {
                window.location.href = '@Url.Content("~/Home/Index")';
            }
            that.GetAttachfile();
        },
        watch: {
        },
        methods: {
            BackCustomer:function(){
                var that=this;
                window.location.replace('@Url.Action("PatientDetail", "Home")?customerCN=' + that.tmpCustomer.CN)
            },
            callfile: function () {
                document.getElementById('FormulaAttachFile').click();
            },
            onFileFormulaChange: function (event) {
                var files = event.target.files || event.dataTransfer.files;
                if (files.length === 0) { return; }
                // console.log(files[0]);
                // maximum: 10M
                //if (files[0].size / 1024 / 1024 > 1) {
                //    // แจ้งเตือน
                //    alert("ขนาดไฟล์เกิน 1MB กรุณาตรวจสอบข้อมูลอีกครั้ง !!");
                //    // เคลียร์ข้อมูล
                //    $("#FormulaAttachFile").val("");
                //    this.File = "";
                //    // ส่งกลับข้อมูล
                //    return true;
                //}
                this.File = files[0];
                this.AttachFileName = this.File.name;
            },
            uploadfile: function () {
                var that = this;
                var conf = confirm("คุณต้องการอัพโหลดไฟล์นี้ [ใช่หรือไม่]");
                if (conf === true) {
                    that.showload = true;
                    var formData = new FormData();
                    formData.append("CN", that.tmpCustomer.CN);
                    formData.append("AttachFileData", that.File);
                    that.$http.post('@Url.Action("UploadFile", "Home")',formData).then(function(response)
                    {
                        if (response.data.ContentEncoding == 200) {
                            alert('Upload success !');
                            location.reload();
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .finally(function () {
                        that.showload = false;
                    });
                }
                else {
                    document.getElementById('FormulaAttachFile').click();
                }
            },
            popupImage:function(filename){
                var that = this;
                that.fileURL = /*'https://aryuwat.onnli.co/AttachFile_Aryuwat/'*/ that.tmpCustomer.PATH + filename;
            },
            deleteImage:function(val){
                var that = this;
                var conf = confirm("คุณต้องการอัพโหลดไฟล์นี้ [ใช่หรือไม่]");
                if (conf === true) {
                    that.showload = true;
                    that.$http.get('@Url.Action("DeleteAttachfile", "Home")?AttachId=' + val)
                        .then(function (response) {
                            if (response.data.ContentEncoding == 200) {
                                location.reload();
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                        .finally(function () {
                            that.showload = false;
                        });
                }
            },
            parseJsonDate: function (jsonDateString){
                return moment(jsonDateString).format("MMM DD, YYYY").toUpperCase();
            },
            GetAttachfile:function(){
                var that = this;
                that.showload = true;
                that.$http.get('@Url.Action("GetAttachfile", "Home")?customerCN=' + that.tmpCustomer.CN)
                    .then(function (response) {
                        if (response.data.ContentEncoding == 200) {
                            that.Attachfile = response.data.data;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .finally(function () {
                        that.showload = false;
                    });
            },
        }
    });
</script>
