@using AryuwatWebApplication.Models
@{
    ViewBag.Title = "Medical Expire";
}
<div id="app" class="container-fluid">
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color:#ffe480">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <div class="row">
                            <div class="col-lg-1" style="padding-top: 9px;">
                                <a v-on:click="BackCustomer()" style="color:black;font-size:30px;"><i class="fa fa-angle-double-left"></i></a>
                            </div>
                            <div class="col-lg-6">
                                <h1 class="page-header-title">
                                    {{tmpCustomer.Patient_Name}}
                                </h1>
                            </div>
                            <div class="col-lg-5">
                                <h1 class="page-header-title">
                                    {{'Room : ' + (tmpCustomer.Room == null ? '-' : tmpCustomer.Room)}}
                                </h1>
                            </div>
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-11">
                                <div class="page-header-subtitle">CN : {{tmpCustomer.CN}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container mt-n10">
        <div class="card mb-4">
            <div class="card-header">แจ้งเตือนวันหมดอายุเวชภัณฑ์</div>
            <div class="card-body">
                <div class="datatable">
                    <table class="table table-bordered table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <td class="text-center align-middle" style="padding-left:50px;">รายการ</td>
                                <td class="text-center align-middle">Lated change</td>
                                <td class="text-center align-middle">Next change</td>
                                <td class="text-center align-middle">Update</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left align-middle" style="padding-left:50px;">ท่ออาหาร เปลี่ยนทุกๆ 1 เดือน</td>
                                <td class="text-left align-middle">{{ oneLastChange }}</td>
                                <td class="text-left align-middle">{{ oneNextChange }}</td>
                                <td class="text-center align-middle">
                                    <button class="btn btn-outline-success btn-sm" v-on:click="UpdateMedical(1,oneLastChange)"> Update</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left align-middle" style="padding-left:50px;">ท่อปัสสวะ เปลี่ยนทุกๆ 1 เดือน</td>
                                <td class="text-left align-middle">{{ twoLastChange }}</td>
                                <td class="text-left align-middle">{{ twoNextChange }}</td>
                                <td class="text-center align-middle">
                                    <button class="btn btn-outline-success btn-sm" v-on:click="UpdateMedical(2,oneLastChange)"> Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card mb-4">
            <div class="card-header">ประวัติการเปลี่ยนเวชภัณฑ์</div>
            <div class="card-body">
                <div class="datatable">
                    <table class="table table-bordered table-hover" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center align-middle" style="padding-left:50px;">ครั้งที่</th>
                                <th class="text-center align-middle" style="">ท่ออาหาร</th>
                                <th class="text-center align-middle" style="">ท่อปัสสวะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr :key="index" v-for="(items, index) in dataPatientChange" v-if="dataPatientChange.length > 0" class="rowHover">
                                <td class="text-center align-middle">
                                    {{items.dataCount}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ items.oneNextChange == null ? '' : parseJsonDate(items.oneNextChange)}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ items.twoNextChange == null ? '' : parseJsonDate(items.twoNextChange)}}
                                </td>
                            <tr v-if="dataPatientChange.length == 0">
                                <td class="text-left" colspan="5">
                                    No data available in table
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="fade"
         :class="{'modal-backdrop show' : showload}"
         :style="{'cursor' : (showload ? 'wait': ''),'z-index' : (showload ? '9999': '')}">
        <div v-if="showload" style="color:white;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)">
            <i class="fa fa-plus fa-spin fa-3x fa-fw"></i><br />
            <span>Loading...</span>
        </div>
    </div>
</div>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/moment.js"></script>
<script>

    Vue.prototype.$http = axios;
    const app = new Vue({
        el: "#app",
        data: {
            tmpCustomer : @Html.Raw(Json.Encode(@Model)),
            dataPatientChange: [],
            oneLastChange: null,
            oneNextChange: null,
            twoLastChange: null,
            twoNextChange: null,
            showload: false,
        },
        mounted: function () {
            var that = this;
            if (that.tmpCustomer.CN == null) {
                window.location.href = '@Url.Content("~/Home/Index")';
            }
            that.GetPatientChange();
        },
        watch: {
            oneLastChange: function (val) {
                var that = this;
                if (val == '') {
                    that.oneLastChange = that.parseJsonDate(Date.now());
                }
            },
            oneNextChange: function (val) {
                var that = this;
                var dt = new Date(Date.now());
                dt.setMonth(dt.getMonth() + 1);
                if (val == '') {
                    that.oneNextChange = that.parseJsonDate(dt);
                }
            },
            twoLastChange: function (val) {
                var that = this;
                if (val == '') {
                    that.twoLastChange = that.parseJsonDate(Date.now());
                }
            },
            twoNextChange: function (val) {
                var that = this;
                var dt = new Date(Date.now());
                dt.setMonth(dt.getMonth() + 1);
                if (val == '') {
                    that.twoNextChange = that.parseJsonDate(dt);
                }
            },


        },
        methods: {
            BackCustomer:function(){
                var that=this;
                window.location.replace('@Url.Action("PatientDetail", "Home")?customerCN=' + that.tmpCustomer.CN)
            },
            UpdateMedical:function(type){
                var that = this;
                var conf = confirm("ยืนยันการบันทึก [ใช่หรือไม่]");
                if (conf === true) {
                    //alert('Test : ' + type + ';val : ' + val);
                    that.showload = true;
                    that.$http.post('@Url.Action("UpdateMedical", "Home")', {
                        type: type,
                        tmpCustomerID: that.tmpCustomer.ID
                    }).then(function (response) {
                        if (response.data.ContentEncoding == 200) {
                            alert('Update Medical Success');
                            console.log(response.data.data);
                            location.reload();
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .finally(function () {
                        that.showload = false;
                    });
                }

            },
            callfile: function () {
                document.getElementById('FormulaAttachFile').click();
            },
            popupImage:function(filename){
                var that = this;
                //that.fileURL = 'https://aryuwat.onnli.co/AttachFile_Aryuwat/' + filename;
            },
            parseJsonDate: function (jsonDateString){
                return moment(jsonDateString).format("MMM DD, YYYY / HH:MM").toUpperCase();
            },
            GetPatientChange:function(){
                var that = this;
                that.showload = true;
                that.$http.post('@Url.Action("GetPatientChange", "Home")', {
                    tmpCustomerID: that.tmpCustomer.ID
                }).then(function (response) {
                    if (response.data.ContentEncoding == 200) {
                        that.dataPatientChange = response.data.data;
                        that.oneLastChange = response.data.onelastchange == null ? '' : that.parseJsonDate(response.data.onelastchange);
                        that.oneNextChange = response.data.onenextchange == null ? '' : that.parseJsonDate(response.data.onenextchange);
                        that.twoLastChange = response.data.twolastchange == null ? '' : that.parseJsonDate(response.data.twolastchange);
                        that.twoNextChange = response.data.twonextchange == null ? '' : that.parseJsonDate(response.data.twonextchange);
                    }
                    else if (response.data.ContentEncoding == 201) {
                        that.oneLastChange = '';
                        that.oneNextChange = '';
                        that.twoLastChange = '';
                        that.twoNextChange = '';
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
                .finally(function () {
                    that.showload = false;
                });
            },
        }
    });
</script>
