@using AryuwatWebApplication.Models
@{
    ViewBag.Title = "Attach File Patient";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div id="app" style="font-size:30px">
    <div class="container" style="background-color:#f3f3f3;margin-top: -20px;padding-top: 10px; padding-bottom: 30px">
        <div class="row">
            <div class="col-lg-1">
                <a v-on:click="BackCustomer()"><i class="fa fa-angle-left"></i></a>
            </div>
            <div class="col-lg-11">
                <u style="font-size:30px; font-weight:600">{{tmpCustomer.Tname + ' ' + tmpCustomer.TsurName}}</u>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-11">
                <p style="font-size:20px;">CN : {{tmpCustomer.CN}}</p>
            </div>
        </div>
    </div>
    <div class="container" style="background-color:#e6e6e6;">
        <div class="row color-text" style="margin-top: 20px;margin-bottom: 10px;">
            @*<div class="col-lg-1" style="text-align:right">
                    <a href="@Url.Content("~/Home/PatientDetail")"><i class="fa fa-angle-left"></i></a>
                </div>*@
            <div class="col-lg-11">
                <p style="font-size:30px">ไฟล์แนบผู้ป่วย</p>
            </div>
        </div>
        <div class="row color-text" style="margin-bottom: 5rem;margin-left: 10px;margin-right: 10px;background-color:white;border-radius:20px">
            <table class="table hb-table hb-table-dashboard" style="font-size:22px;width:100%">
                <thead>
                    <tr>
                        <th class="text-right align-middle" colspan="4">
                            {{AttachFileName}}
                            <input class="btn btn-info" style="width: 150px;font-size:16px;border-radius:10px;background-color:#808080;" value="Upload file" v-on:click="callfile()" v-if="AttachFileName == ''"/>
                            <input id="FormulaAttachFile"
                                   accept=".gif, .jpg, .png"
                                   type="file"
                                   ref="ApplicantRegister"
                                   style="display:none"
                                   v-on:change="onFileFormulaChange($event)">
                            <input class="btn btn-success" style="width: 150px;font-size:16px;border-radius:10px;" value="Upload or Select" v-on:click="uploadfile()" v-if="AttachFileName != ''"/>
                        </th>
                    <th class="text-left align-middle"><i class="fa fa-share-alt"></i></th>
                    </tr>
                    <tr style="font-weight:500">
                        @*<td class="text-center align-middle" style="width:5%;"><input type="checkbox" style="transform: scale(1.5);" /></td>*@
                        <td class="text-center align-middle" style="width:50%;padding-left:50px;" colspan="2">Name</td>
                        <td class="text-center align-middle" style="width:28%;">Detail</td>
                        <td class="text-center align-middle" style="width:20%;">Last Modified</td>
                        <td class="text-center align-middle" style="width:2%;"></td>
                    </tr>
                </thead>
                <tbody style="font-weight:400;font-size:18px">
                    <tr :key="index" v-for="(items, index) in Attachfile" v-if="Attachfile.length > 0" class="rowHover" style="border-bottom: 1px solid #cbc3c3;height: 60px;cursor:pointer;"
                        v-on:click="popupImage(items.FileName)" data-toggle="modal" data-target="#myModal">
                        @*<td class="text-center align-middle" style="width:5%;">
                                <input type="checkbox" style="transform: scale(1.5);" />
                            </td>*@
                        <td class="text-left align-middle" style="width:50%;padding-left:50px;" colspan="2">
                            <p>
                                <i class="fa fa-image"></i>
                                {{items.FileName}}
                            </p>
                        </td>
                        <td class="text-center align-middle" style="width:28%;">
                            {{items.Detail}}
                        </td>
                        <td class="text-center align-middle" style="width:20%;">
                            {{parseJsonDate(items.DateSave)}}
                        </td>
                        <td class="text-center align-middle" style="width:2%;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px;">
            <div class="modal-content">
                <div class="modal-body">
                    <img :src=fileURL style="max-width:100%" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/moment.js"></script>
<script>

    Vue.prototype.$http = axios;
    const app = new Vue({
        el: "#app",
        data: {
            tmpCustomer : @Html.Raw(Json.Encode(@Model)),
            Attachfile: [],
            fileURL: '',
            File: "",
            AttachFileName: "",
        },
        mounted: function () {
            var that = this;
            if (that.tmpCustomer.CN == null) {
                window.location.href = '@Url.Content("~/Home/Index")';
            }
            that.GetAttachfile();
        },
        watch: {
        },
        methods: {
            BackCustomer:function(){
                var that=this;
                window.location.replace('@Url.Action("PatientDetail", "Home")?customerCN=' + that.tmpCustomer.CN)
            },
            callfile: function () {
                document.getElementById('FormulaAttachFile').click();
            },
            onFileFormulaChange: function (event) {
                var files = event.target.files || event.dataTransfer.files;
                if (files.length === 0) { return; }
                // console.log(files[0]);
                // maximum: 10M
                if (files[0].size / 1024 / 1024 > 1) {
                    // แจ้งเตือน
                    alert("ขนาดไฟล์เกิน 1MB กรุณาตรวจสอบข้อมูลอีกครั้ง !!");
                    // เคลียร์ข้อมูล
                    $("#FormulaAttachFile").val("");
                    this.File = "";
                    // ส่งกลับข้อมูล
                    return true;
                }
                this.File = files[0];
                this.AttachFileName = this.File.name;
            },
            uploadfile: function () {
                var that = this;
                var conf = confirm("คุณต้องการอัพโหลดไฟล์นี้ [ใช่หรือไม่]");
                if (conf === true) {
                    var formData = new FormData();
                    formData.append("CN", that.tmpCustomer.CN);
                    formData.append("AttachFileData", that.File);
                    that.$http.post('@Url.Action("UploadFile", "Home")',formData).then(function(response)
                    {
                        if (response.data.ContentEncoding == 200) {
                            alert('Upload success !');
                            location.reload();
                        }
                    });
                }
                else {
                    document.getElementById('FormulaAttachFile').click();
                }
            },
            popupImage:function(filename){
                var that = this;
                that.fileURL = 'https://aryuwat.onnli.co/AttachFile_Aryuwat/' + filename;
            },
            parseJsonDate: function (jsonDateString){
                return moment(jsonDateString).format("MMM DD, YYYY").toUpperCase();
            },
            GetAttachfile:function(){
                var that=this;
                that.$http.get('@Url.Action("GetAttachfile", "Home")?customerCN=' + that.tmpCustomer.CN)
                    .then(function (response) {
                        if (response.data.ContentEncoding == 200) {
                            that.Attachfile = response.data.data;
                        }
                });
            },
        }
    });
</script>
