@using AryuwatWebApplication.Models
@{
    ViewBag.Title = "Patient Detail";
}
<style>
    @@media only screen and (min-width: 1000px) {
        #leftcard-1, #leftcard-2, #leftcard-3 {
            padding-left: 0%;
            text-align: left;
        }
    }
    #leftcard-1 {
        padding-left: 70%;
        text-align: right;
    }
    #leftcard-2 {
        padding-left: 76%;
        text-align: right;
    }
    #leftcard-3 {
        padding-left: 75%;
        text-align: right;
    }
</style>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<div id="app" class="container-fluid">
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10"  style="background-color:#ffe480">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <div class="row">
                            <div class="col-lg-1" style="padding-top: 9px;">
                                <a href="@Url.Content("~/Home/Index")" style="color:black;font-size:30px;"><i class="fa fa-angle-double-left"></i></a>
                            </div>
                            <div class="col-lg-6">
                                <h1 class="page-header-title">
                                    {{tmpCustomer.Patient_Name}}
                                </h1>
                            </div>
                            <div class="col-lg-5">
                                <h1 class="page-header-title">
                                    {{'Room : ' + (tmpCustomer.Room == null ? '-' : tmpCustomer.Room)}}
                                </h1>
                            </div>
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-11">
                                <div class="page-header-subtitle">CN : {{tmpCustomer.CN}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container mt-n10">
        <div class="row">
            <div class="col-xxl-1 col-xl-1 mb-4"></div>
            <div class="col-xxl-5 col-xl-5 mb-4">
                <a class="card lift h-100" v-on:click="PatientData()">
                    <div class="card-body d-flex justify-content-center flex-column"  id="leftcard-1" >
                        <div class="d-flex align-items-center justify-content-between" style="display: block;">
                            <div class="mr-12">
                                <i class="feather-xl text-primary mb-3" data-feather="activity"></i>
                                <h5>ตรวจวัดข้อมูลผู้ป่วย</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xxl-5 col-xl-5 mb-4">
                <a class="card lift h-100" v-on:click="MedicalExpire()">
                    <div class="card-body d-flex justify-content-center flex-column">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="mr-3">
                                <i class="feather-xl text-primary mb-3" data-feather="rotate-ccw"></i>
                                <h5>วันหมดอายุเวชภัณฑ์</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xxl-1 col-xl-1 mb-4"></div>
            <div class="col-xxl-1 col-xl-1 mb-4"></div>
            <div class="col-xxl-5 col-xl-5 mb-4">
                <a class="card lift h-100" v-on:click="AttachfilePatient()">
                    <div class="card-body d-flex justify-content-center flex-column">
                        <div class="d-flex align-items-center justify-content-between" id="leftcard-2">
                            <div class="mr-3">
                                <i class="feather-xl text-primary mb-3" data-feather="file"></i>
                                <h5>ภาพแนบผู้ป่วย</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xxl-5 col-xl-5 mb-4">
                <a class="card lift h-100" v-on:click="Remark()">
                    <div class="card-body d-flex justify-content-center flex-column">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="mr-3">
                                <i class="feather-xl text-primary mb-3" data-feather="alert-triangle"></i>
                                <h5>แจ้งเตือน Remark และแจ้งเตือนการกินยา</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xxl-1 col-xl-1 mb-4"></div>
            <div class="col-xxl-1 col-xl-1 mb-4"></div>
            <div class="col-xxl-5 col-xl-5 mb-4">
                <a class="card lift h-100" v-on:click="Meeting()">
                    <div class="card-body d-flex justify-content-center flex-column">
                        <div class="d-flex align-items-center justify-content-between"  id="leftcard-3" >
                            <div class="mr-3">
                                <i class="feather-xl text-primary mb-3" data-feather="message-square"></i>
                                <h5>Meeting ผู้ป่วย</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="fade"
         :class="{'modal-backdrop show' : showload}"
         :style="{'cursor' : (showload ? 'wait': ''),'z-index' : (showload ? '9999': '')}">
        <div v-if="showload" style="color:white;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)">
            <i class="fa fa-plus fa-spin fa-3x fa-fw"></i><br />
            <span>Loading...</span>
        </div>
    </div>
</div>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/axios.js"></script>
<script>
    Vue.prototype.$http = axios;
    const app = new Vue({
        el: "#app",
        data: {
            tmpCustomer : @Html.Raw(Json.Encode(@Model)),
            showload: false,
            txttest : '',
        },
        mounted: function () {
            var that = this;
            if (that.tmpCustomer.CN == null) {
                window.location.href = '@Url.Content("~/Home/Index")';
            }
            that.CheckRemark();
        },
        watch: {
        },
        methods: {
            CheckRemark: async function () {
                var that = this;
                that.showload = true;
                that.$http.post('@Url.Action("CheckRemark", "Home")', {
                    tmpCustomerID: that.tmpCustomer.ID
                }).then(function(response)
                {
                    if (response.data.ContentEncoding == 200) {
                        var msgRemark = "<p style='color:red'>";
                        var msgRemark1 = "";
                        var msgRemark2 = "";
                        var msgTODO = "<p style='color:blue'>";
                        var msgMED = "<p style='color:green'>";
                        var chkType1 = false;
                        var chkType2 = false;
                        response.data.data.RemarkData.forEach(async function (rm) {
                            if (rm.Remark_Type == 1) {
                                chkType1 = true;
                                msgRemark1 += '<br>' + rm.Topic + ' : ' + rm.Description + '<br>';
                            }
                            if (rm.Remark_Type == 2) {
                                chkType2 = true;
                                msgRemark2 += '<br>' + rm.Topic + ' : ' + rm.Description + '<br>';

                            }
                        });
                        if (chkType1) {
                            msgRemark += '<b>Remark :</b><br>' + msgRemark1;
                        }
                        if (chkType2) {
                            msgMED += '<b>MED :</b><br>' + msgRemark2;
                        }

                        if (response.data.data.PatientChangeData.length > 0) {
                            msgTODO += '<b>TODO :</b><br>';
                        }
                        response.data.data.PatientChangeData.forEach(async function (pc) {
                            if (pc.Type == 1) {
                                msgTODO += '<br>เปลี่ยนท่ออาหาร<br>';
                            }
                            if (pc.Type == 2) {
                                msgTODO += '<br>เปลี่ยนท่อปัสสวะ<br>';
                            }
                        });
                        msgRemark += "</p>";
                        msgTODO += "</p>";
                        msgMED += "</p>";
                        Swal.fire({
                            html: msgRemark + '<br>' +
                                msgTODO + '<br>' +
                                msgMED,
                            icon: 'warning',
                            confirmButtonText: 'Close',
                            allowOutsideClick: false
                        });
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
                .finally(function () {
                    that.showload = false;
                });
            },
            AttachfilePatient: function () {
                window.location.href = '@Url.Content("~/Home/Attachfile")?customerCN=' + this.tmpCustomer.CN;
            },
            Remark: function () {
                window.location.href = '@Url.Content("~/Home/Remark")?customerCN=' + this.tmpCustomer.CN;
            },
            Meeting: function () {
                window.location.href = '@Url.Content("~/Home/Meeting")?customerCN=' + this.tmpCustomer.CN;
            },
            MedicalExpire: function () {
                window.location.href = '@Url.Content("~/Home/MedicalExpire")?customerCN=' + this.tmpCustomer.CN;
            },
            PatientData: function () {
                window.location.href = '@Url.Content("~/Home/PatientData")?customerCN=' + this.tmpCustomer.CN;
            },
        }
    });
        </script>
